.env
secrets.toml
PruebaChatArchivosDirectoOpenAi.ipynb
Politica_abastecimiento.pdf
null
CodigoChatAsistente.py
ChatConversar.py
ChatBasico.py
AsistenteRapido.py
AsistenteArchivos.ipynb
Asistente.ipynb
app.streamlit.py
app_chatgpt.py
pruebachatasistente.py
pruebachatstreamlit.py

#Imagenes
imagenProfa.jpg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.streamlit/secrets.toml
